@model CustomerAPI.Models.Customer

<div class="uk-card uk-card-default uk-card-body uk-margin">
    <h1 class="uk-heading"><span>Delete Customer</span></h1>

    <div>
        <hr />
        <dl class="uk-description-list uk-description-list-divider">
            <dt>Full Name</dt>
            <dd>@Model.FullName</dd>

            <dt>Birthdate</dt>
            <dd>@Model.Birthdate.ToShortDateString()</dd>

            <dt>Gender</dt>
            <dd>@Model.Gender</dd>

            <dt>Address</dt>
            <dd>@Model.Address</dd>

            <dt>Contact Number</dt>
            <dd>@Model.ContactNumber</dd>
        </dl>
    </div>

    <form asp-action="DeleteConfirmed" method="post" class="uk-margin-top">
        <input type="hidden" name="id" value="@Model.CustomerId" />
        <button type="submit" class="uk-button uk-button-danger">Delete</button>
        <a asp-action="Index" class="uk-button uk-button-secondary">Cancel</a>
    </form>
</div>
